# vim: ft=toml
{{ if (eq .fonts true) }}
[".local/share/fonts/anonymous-pro"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/AnonymousPro.tar.xz"
    exact = true
[".local/share/fonts/code-new-roman"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/CodeNewRoman.tar.xz"
    exact = true
[".local/share/fonts/pt-serif"]
    type = "archive"
    url = "https://www.fontsquirrel.com/fonts/download/pt-serif"
    exact = true
{{ end }}
