#!/bin/sh
# vim: ft=sh

{{ if (eq .nvimplugins true) }}
# Installs Packer (neovim package manager)
git clone --depth 1 https://github.com/wbthomason/packer.nvim\
    $HOME/.local/share/nvim/site/pack/packer/start/packer.nvim

# Disables neovim plugins temporarily
sed -i '1i\
    vim.g.disableplugins = 1
' $XDG_CONFIG_HOME/nvim/init.lua

# Runs PackerSync to get all other plugins installed
nvim -c "PackerSync" $(mktemp)

# Re-enable neovim plugins
sed '1d' $XDG_CONFIG_HOME/nvim/init.lua > $XDG_CONFIG_HOME/nvim/tmp.lua
mv $XDG_CONFIG_HOME/nvim/tmp.lua $XDG_CONFIG_HOME/nvim/init.lua

echo "Neovim may have given you a treesitter-related error. This is normal."
{{ end }}
