font:
  normal:
    family: {{ .termfont }}
    style: Regular
  bold:
    family: {{ .termfont }}
    style: Bold
  italic:
    family: {{ .termfont }}
    style: Italic
  bold_italic:
    family: {{ .termfont }}
    style: Bold Italic
  size: 11

scrolling:
  history: 50000

cursor:
  style:
    shape: Beam
    blinking: Off
  vi_mode_style: Block
mouse:
  hide_when_typing: false

key_bindings:
{{ if (eq .colemak true) }}
  - { key: N, mods: Control, chars: "\x1b[D" }
  - { key: E, mods: Control, chars: "\x1b[B" }
  - { key: I, mods: Control, chars: "\x1b[A" }
  - { key: O, mods: Control, chars: "\x1b[C" }
  - { key: N, mods: Shift|Control, chars: "\x1b\x62" }
  - { key: O, mods: Shift|Control, chars: "\x1b\x66" }
{{ end }}
  - { key: LBracket, mods: Control, chars: "\x01" }
  - { key: RBracket, mods: Control, chars: "\x05" }

  - { key: Space, mods: Control, mode: ~Search, action: ToggleViMode }
{{ if (eq .colemak true) }}
  - { key: N, mode: Vi|~Search, action: Left }
  - { key: E, mode: Vi|~Search, action: Down }
  - { key: I, mode: Vi|~Search, action: Up }
  - { key: O, mode: Vi|~Search, action: Right }

  - { key: H, mods: Control, mode: Search, action: SearchFocusNext }
  - { key: H, mods: Shift|Control, mode: Search, action: SearchFocusPrevious }
{{ end }}
  - { key: Q, mode: Vi|~Search, action: ToggleViMode }
  - { key: Y, mode: Vi|~Search, action: Copy }
  - { key: Y, mode: Vi|~Search, action: ClearSelection }
  - { key: B, mods: Shift, mode: Vi|~Search, action: WordLeftEnd }
  - { key: W, mods: Shift, mode: Vi|~Search, action: WordRightEnd }

  - { key: Comma,  mods: Control, action: ScrollLineUp }
  - { key: Period, mods: Control, action: ScrollLineDown }
  - { key: Comma,  mods: Control|Alt, action: ScrollPageUp }
  - { key: Period, mods: Control|Alt, action: ScrollPageDown }

# Colors (Based on Tomorrow Night Bright)
colors:
  # Default colors
  primary:
    background: '0x070707'
    foreground: '0xeaeaea'

  # Normal colors
  normal:
    black:   '0x0b0b0b'
    red:     '0xd54e53'
    green:   '0xb9ca4a'
    yellow:  '0xe6c547'
    blue:    '0x7aa6da'
    magenta: '0x9161a8'
    cyan:    '0x70c0ba'
    white:   '0x424242'

  # Bright colors
  bright:
    black:   '0x666666'
    red:     '0xff3334'
    green:   '0x9ec400'
    yellow:  '0xe7c547'
    blue:    '0x7aa6da'
    magenta: '0xe07de0'
    cyan:    '0x54ced6'
    white:   '0xbababa'
